<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <style>
    body {
      background-image: url("https://exame.com/wp-content/uploads/2021/11/coronavirus-2.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      height: 100vh;
      flex-direction: column;
      Justify-content: center;
      align-items: center;
    }

    form {
      text-align: center;
      width: 40%;
      min-width: 320px;
      max-width: 600px;
      background: rgba(255, 255, 255, 0.3);
      backdrop-filter: blur(10px);
      border-radius: 18px;
      padding: 32px;
    }

    form h1 {
      font-size: 48px;
      color: #fff;
    }

    .inputnumber {
      width: 50%;
      font-size: 32PX;
      height: 38px;
      border-radius: 5px;
      border: 1px solid orange;
    }

    .inputnumber:focus {
      outline: none;
      border: 2px solid darkorange;
    }

    .send {
      height: 42px;
      padding: 10px;

      background: #bd46a9;
      color: white;

      border: none;
      border-radius: 5px;
      font-weight: bold;

      font-size: 24px;

      transition: 1s all;
      cursor: pointer;
    }

    .send:hover {
      background: darkorange;
    }
  </style>
  <title>D3 Test</title>
</head>

<body>
  <form action="">
    <h1>Covid-19 cálculo IFE</h1>
    <input type="text" id="table" name="table" onkeypress="checkChar" placeholder="Digite o dia ..."
      class="inputnumber" />
    <input type="submit" value="Enviar" class="send" />
  </form>
  <script>
    const input = document.getElementById("table");
    input.addEventListener("keypress", (e) => {
      if (!checkChar(e)) {
        e.preventDefault();
        fetch("http://localhost:8080")
      }
    });
    // checar caracteres especiais
    function checkChar(e) {
      const char = String.fromCharCode(e.keyCode);

      console.log(e.keyCode);
      //console.log(char);
      const pattern = "[0-9]";
      if (char.match(pattern)) {
        console.log(char);
        return true;
      }
    }
  </script>
</body>

</html>